/app/bootstrap.php.cache
/cache/dev/*
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/dev/cache/*
/build/
/vendor/
/bin/
/composer.phar
/src/AppBundle/DataFictures/
/.idea/
/web/bundles/*
!/web/bundles/app


