h2.anim_title {
    padding: 20px;
    margin: 2px 0;
    border: 1px solid #333;
    font-weight: normal;
    font-size: 24px;
    cursor: pointer;
}

h2.anim_title:hover {
    background-color: coral;
}

article {
    margin: 10px 30px;
}

p.animateur {
    display: none;
}

ul.anim_desc {
    display: none;
}

li.anim_desc_item {
    display: none;
}

#nomAnimateur {
    text-align: center;
    Font-Weight: Bold;
}

#typeDanse {
    Font-Weight: Bold;
}