body {
    padding-top: 0;
    padding-bottom: 20px;
    background-color: #FFF7CC;
}
h1{}
h2{
    font-size: 36px;
    font-family: "Dancing Script", cursive;
    color: #8A0507;
    text-align: center;
}

#container{
    margin:10px;
}

header {
    margin:0px;
}



form .control-label.required:after {
    position: absolute;
    right: 6px;
    display: inline-block;
    content: '*';
    color: red;
    font-weight: bold;
}

form .checkbox label.required:after {
    margin-left: 6px;
    display: inline-block;
    content: '*';
    color: red;
    font-weight: bold;
}

.jumbotron {
    padding: 30px 0;
}

#titreAccueil {
    font-size: 36px;
    font-family: "Dancing Script", cursive;
    color: #8A0507;
    text-align: center;
}
#titreAccueil a:link, a:visited {
    color: #8A0507;
    text-decoration:none;
}
#titreAccueil a:hover{
    color: #ff0000;
    text-decoration:none;
}
#topnavbar, #bottomnavbar {
    background-color: #AB252B;
    border-radius: 10px;
}
#topnavbar a, #bottomnavbar a{ 
    color: #FFF;
    font-size:20px;
}
#topnavbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-header ul{
    text-align:center;
    float:none;
    margin-left:20%;
} 
.navbar-header li {
    display:inline-block;
}


#danseAccueil{
    margin-top: 10px;
    text-align:center;
}

aside {
}
#listeEvents {
    border:solid 1px;
    border-radius: 10px;
    margin:10px;
}
.eventAccueil{
    margin: 10px;
    background-color:#FFF;
    padding:5px;
    border:solid 1px;
    border-radius: 5px;
}
.eventAccueil a:link, a:visited {
    color: #8A0507;
    text-decoration:none;
}
.eventAccueil a:hover{
    color: #ff0000;
    text-decoration:none;
}
.imgEvent{
    width:40%;
    float:left;
}
.imgEvent img{
    width:100px;
    height:100px;
}
.eventDetail{
    width:60%;
    float:left;
}
.clearboth{
    clear:both;
}
.reseauSocial {
    width:100%;
}
.reseauSocial >p{
    text-align: center;
}

.listedanses{
    border:solid 1px;
    border-radius: 10px;
    margin:10px;
    margin-left:2px;
    color: #FFF;
    height: 300px;
}

.listedanses a:link, a:visited{
    color:#FFF;
    text-decoration: none;
}

.listedanses a:hover{
    color:#d3d3d3;
    text-decoration: none;
}


.orange{
    background-color:orange;
}
.tomato{
    background-color:tomato;
}
.firebrick{
    background-color:firebrick;
}

.listetypesdanse li{
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
listetypesdanse ul,li a:link, a:visited{
    color:#FFF;
    text-decoration: none;
}

listetypesdanse ul,li a:hover{
    color:#d3d3d3;
    text-decoration: none;
}

