{% extends '::base.html.twig' %}

{% block content %}
    <h1>Ajout d'un evenement</h1>
    <hr>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('app_agenda_index') }}" class="btn btn-sm btn-default">
                Annuler
            </a>
    </li>
</ul>
{% endblock %}