{% extends '::base.html.twig' %}

{% block content %}

<div class="contentAccueil">
    <div class="row">
        <div class="col-md-8">
        <h2>Contactez-nous</h2>
        <p>...</p>
        </div>
        <aside class="col-md-4">
            {% include('AppBundle:Layout:sidebar.html.twig') %}
        </aside>
    </div>
</div>
{% endblock %}

