{% extends '::base.html.twig' %}

{% block content %}

<div class="contentAccueil">
    <div class="row">
        <div class="col-md-8 contact_div">
        <h2>Contactez-nous</h2>
        <p class="title_adress">Ami'Danse</p>
        <i class="fa fa-phone" aria-hidden="true"> : 0520151412 </i></br>
        <i class="fa fa-at " aria-hidden="true"> : contact@amidanse.com</i></br> 
        <i class="fa fa-envelope" aria-hidden="true"> : 2 rue Du puits </br>
        17000 La Rochelle</i></br>
        
        </div>
    </div>
</div>
{% endblock %}

