<hr />
<nav class="navigbar" id="bottomnavigbar">
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="#">Qui sommes nous ?</a></li>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Plan du site</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>


<div class="reseauSocial">
<p>
  <i class="fa fa-linkedin-square"></i> 
  <i class="fa fa-facebook-square"></i> 
</p> 

<p>IMIE 2017 - DL18
- Site réalisé par Toutou Baïla Ndiaye, Gülistan Ehmet, Richard Coudrais, Sébastien Oillic, Nicolas Hertz 
- Tout droits réservés</p>
</div>

