

<footer>
    <div class="container-fluid text-center">
        <p class="footer-links">
            <a href="#">Accueil</a>
            ·
            <a href="#">Qui Sommes Nous</a>
            ·
            <a href="#">Mentions Légales</a>
            ·
            <a href="#">Plan du site</a>
            ·
            <a href="#">Forum</a>
            ·
            <a href="#">Contact</a>
        </p>

        <p>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>
        <p>Copyright 2017</p>
    </div>
</footer>


{#<footer>#}
    {#<div class="container-fluid text-center">#}
    {#<ul>#}
        {#<li><a href="/">Accueil</a></li>#}
        {#<li><a href="#">Qui sommes nous ?</a></li>#}
        {#<li><a href="#">Mentions légales</a></li>#}
        {#<li><a href="#">Plan du site</a></li>#}
        {#<li><a href="#">Forum</a></li>#}
        {#<li><a href="#">Contact</a></li>#}
    {#</ul>#}
    {#</div>#}


{#<div class="reseauSocial">#}
{#<p>#}
  {#<i class="fa fa-linkedin-square"></i> #}
  {#<i class="fa fa-facebook-square"></i> #}
{#</p> #}

{#<p>IMIE 2017 - DL18#}
{#- Site réalisé par Toutou Baïla Ndiaye, Gülistan Ehmet, Richard Coudrais, Sébastien Oillic, Nicolas Hertz #}
{#- Tout droits réservés</p>#}


        {#<p>Copyright 2017</p>#}

    {#</div>#}
{#</footer>#}