<nav class="navbar navbar-default navbar-static-top" id="bottomnavbar">
    <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">ACCUEIL</a></li>
      <li><a href="#">QUI SOMMES NOUS ?</a></li>
      <li><a href="#">MENTIONS LEGALES</a></li>
      <li><a href="#">PLAN DU SITE</a></li>
      <li><a href="#">FORUM</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </div>
</nav>
<div class="reseauSocial">
<p>
  <i class="fa fa-linkedin-square"></i> 
  <i class="fa fa-facebook-square"></i> 
</p>  
<p>Copyright 2017</p>
</div>
