<nav class="navbar navbar-default navbar-static-top" id="bottomnavbar">
{# <nav class="navbar navbar-inverse navbar-fixed-bottom"> #}
    <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li><a href="#">Accueil</a></li>
      <li><a href="#">Qui sommes nous ?</a></li>
      <li><a href="#">Mentions légales</a></li>
      <li><a href="#">Plan du site</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
<div class="reseauSocial">
<p>
  <i class="fa fa-linkedin-square"></i> 
  <i class="fa fa-facebook-square"></i> 
</p>  
<p>Site réalisé par Toutou Baïla Ndiaye, Gülistan Ehmet, Richard Coudrais, Sébastien Oillic, Nicolas Hertz - IMIE 2017 - Tout droits réservés</p>
</div>