<nav class="navigbar" id="topnavigbar">
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/styledanse/">Danses</a></li>
        <li><a href="/">Cours</a></li>
        <li><a href="/">Agenda</a></li>
        <li><a href="/">Forum</a></li>
        <li><a href="/">Contact</a></li>
    </ul>
</nav>
