<nav class="navigbar" id="topnavigbar">
    <ul>
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
        <li><a href="{{ path('app_styleDanse_index') }}">Danses</a></li>
        <li><a href="{{ path('app_cours_liste') }}">Cours</a></li>
        <li><a href="{{ path('app_agenda_index') }}">Agenda</a></li>
        <li><a href="/">Forum</a></li>
        <li><a href="/">Contact</a></li>
    </ul>
</nav>