{# <nav class="navbar navbar-inverse navbar-fixed-top" id="topnavbar"> #}
<nav class="navbar navbar-default navbar-static-top" id="topnavbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li><a href="/">Accueil</a></li>
        <li><a href="/styledanse/">Danses</a></li>
        <li><a href="#">Cours</a></li>
        <li><a href="#">Agenda</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>














