{#<ul class="nav nav-sidebar">#}
    {#<li>#}
        {#<a href="{{ path('publication_index') }}" class="logo">#}

            {#Publications#}
        {#</a>#}
    {#</li>#}
    {#<li>#}

            {#<a href="{{ path('science_index') }}" class="logo">#}
                    {#Sciences#}
                {#</a>#}



    {#</li>#}
{#</ul>#}

<div class="nav nav-sidebar">

<h2>L'AGENDA</h2>
<div class="eventAccueil">
    <div class="eventDate">25 mai 2017</div>
    <div class="imgEvent">
        <img src="{{ asset('bundles/app/img/dansemoderne1.png') }}"/>
    </div>
    <div class="eventDetail">
        <h3><a href="#">Modern'Danses : Concours Danses Modernes</a></h3>
        <p>Dans le cadre des journées de la vulgarisation des danses de rue ...
            <a href="#">lire la suite</a>
    </div>
</div>
<div class="eventDate">02 juin 2017 - 04 juin 2017</div>
<div class="imgEvent">
    <img src="{{ asset('bundles/app/img/latino1.png') }}"/>
</div>
<div class="eventDetail">
    <h3><a href="#">Latina for ever</a></h3>
    <p>Pour le 21éme festival de danses latines ...
        <a href="#">lire la suite</a>
</div>
</div>