{#<ul class="nav nav-sidebar">#}
    {#<li>#}
        {#<a href="{{ path('publication_index') }}" class="logo">#}

<div id="listeEvents">
    <h2>L'Agenda</h2>
    <div class="eventAccueil">
        <div class="imgEvent"><img src="{{ asset('bundles/app/img/dansemoderne.jpg') }}"/></div>
        <div class="eventDetail">
            <div class="eventDate">25 mai 2017</div>
            <div class="eventTitre"><b><a href="#">Modern'Danses : Concours Danses Modernes</a></b></div>
            <div class="eventTexte">Dans le cadre des journées de la danse moderne ...</div>
            <div class="eventSuite"><a href="#">lire la suite</a></div>
        </div>
        <br class="clearboth" />
    </div>

    <div class="eventAccueil">
        <div class="imgEvent"><img src="{{ asset('bundles/app/img/latino.jpg') }}"/></div>
        <div class="eventDetail">
            <div class="eventDate">02 juin 2017 - 04 juin 2017</div>
            <div class="eventTitre"><b><a href="#">Latina for ever</a></b></div>
            <div class="eventTexte">Pour le 21éme festival de danses latines...</div>
            <div class="eventSuite"><a href="#">lire la suite</a></div>
        </div>
        <br class="clearboth" />
    </div>



    {#</li>#}
{#</ul>#}
