{#<ul class="nav nav-sidebar">#}
    {#<li>#}
        {#<a href="{{ path('publication_index') }}" class="logo">#}

            {#Publications#}
        {#</a>#}
    {#</li>#}
    {#<li>#}

            {#<a href="{{ path('science_index') }}" class="logo">#}
                    {#Sciences#}
                {#</a>#}



    {#</li>#}
{#</ul>#}
