{% extends '::base.html.twig' %}

{% block content %}
    <h1>Styles de danse</h1>
    <hr>
    <div class="table-responsive">
        <table class="table table-stripped table-condensed">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>


            {% for styleDanse in stylesDanse %}
                <div class="col-md-3">
                    <div class="listedanses orange">
                        <h3>{{ styleDanse.nom }}</h3>
                        <ul class="list-inline">
                            <li>
                                {% if is_granted("ROLE_RESPONSABLE") %}


                                <a href="{{ path('app_admin_styleDanse_edit', { 'id': styleDanse.id }) }}" class="btn btn-xs btn-warning">
                                    Modifier
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                        <p>{{ styleDanse.description }}</p>
                        <ul class="listetypesdanse">
                            <li><a href="#">Boston</a></li>
                            <li><a href="#">Charleston</a></li>
                            <li><a href="#">Foxtrot</a></li>
                            <li><a href="#">Madison</a></li>
                            <li><a href="#">One-Step</a></li>
                            <li><a href="#">Paso-doble</a></li>
                            <li><a href="#">Quicks Tep</a></li>
                            <li><a href="#">Tango</a></li>
                            <li><a href="#">Valse</a></li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <ul class="list-inline">
        <li>
            <a href="{{ path('app_admin_styleDanse_new') }}" class="btn btn-sm btn-success">
                Créer un nouveau style de danse
            </a>
        </li>


    </ul>
{% endblock %}