{% extends '::base.html.twig' %} {% block content %}
<h1>Inscription à un cours</h1>

<ul class="list-inline">
    <li>
        <a href="{{path('app_cours_liste')}}" class="btn btn-sm btn-default">
                Retour à la liste des cours
        </a>
    </li>
</ul>
{% endblock %}