{% extends '::base.html.twig' %} {% block content %}
<h1>Annuler l'inscription</h1>
<hr></hr>
<ul class="list-inline">
    <li>
        <a href="{{path('app_cours_liste')}}" class="btn btn-sm btn-default">
                Retour à la liste des cours
        </a>
    </li>
</ul>
{% endblock %}